body{
    font-family: Arial, sans-serif;
    font-size: 27px;
    color: white;
}
#container{
    width: 400px;
    height: 450px;
    background-color: aqua;
    text-align: center;
    border-radius: 8px;
    padding-top: 30px;
}
input {
    height: 70px;
    width: 70px;
    font-size: 18px;
    background-color: white;
    color: black;
    border-radius: 8px;
    border: 1px solid aqua;
}
#div {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    background-color: aqua;
    margin: 1px auto auto auto;

}

#result {
    width: 202px;
    height: 64px;
    background-color: white;
    color: black;
}
#del{
    background-color: red;
    color: white;
}